.light{
    color: gray;
}

.dark{
    font-weight: 900;
}

.divDesign{
    border: solid;
    padding-left: 15px;
    padding-top: 15px;
    border-color: lightgray;
    margin: 20px;
    background-color: #f8fbfb;
}

p{
    margin-bottom: 3px;
}

.container{
    border: solid;
    color: gray;
    width: 50%;
}