<div class="container">
  <h2>REGISTER</h2>
  <hr>
  <form [formGroup]="form" (ngSubmit)="onRegister(form.value)">
    <div class="row">
      <div class="col-md-6">
        <label for="firstname">FIRST NAME</label>
        <div *ngIf="submitted && form.get('firstname').errors" class="text-danger">
          <div *ngIf="form.get('firstname').errors.required">
            First Name is required.
          </div>
        </div>
        <input type="text" name="firstname" class="form-control" formControlName="firstname" autocomplete="off">
        <br>
        <label for="email">EMAIL ADDRESS</label>
        <div *ngIf="submitted && form.get('email').errors" class="text-danger">
          <div *ngIf="form.get('email').errors.required">Email is required.</div>
          <div *ngIf="form.get('email').errors.email">Email must be a valid email address.</div>
        </div>
        <input type="email" name="email" class="form-control" formControlName="email" autocomplete="off">
        <br>
        <label for="address">ADDRESS</label>
        <div *ngIf="submitted && form.get('address').errors" class="text-danger">
          <div *ngIf="form.get('address').errors.required">
            Address is required.
          </div>
        </div>
        <input type="text" name="address" class="form-control" formControlName="address" autocomplete="off">
        <br>
        <label for="password">PASSWORD</label>
        <div *ngIf="submitted && form.get('password').errors" class="text-danger">
          <div *ngIf="form.get('password').errors.required">Password is required.</div>
          <div *ngIf="form.get('password').errors.minlength">Password must be at least 6 characters</div>
        </div>
        <input type="password" name="password" class="form-control" formControlName="password">
      </div>

      <div class="col-md-6">
        <label for="lastname">LAST NAME</label>
        <div *ngIf="submitted && form.get('lastname').errors" class="text-danger">
          <div *ngIf="form.get('lastname').errors.required">
            Last Name is required.
          </div>
        </div>
        <input type="text" name="lastname" class="form-control" formControlName="lastname" autocomplete="off">
        <br>
        <label for="phone_number">PHONE NUMBER</label>
        <div *ngIf="submitted && form.get('phone_number').errors" class="text-danger">
          <div *ngIf="form.get('phone_number').errors.required">
            Phone Number is required.
          </div>
        </div>
        <input type="number" name="phone_number" class="form-control" formControlName="phone_number" autocomplete="off">
        <br>
        <label for="brief">BRIEF MEDICAL HISTORY OF PATIENT</label>
        <br>
        <input type="text" name="brief" class="form-control" formControlName="brief" autocomplete="off">
        <br>
        <label for="confirm_password">CONFIRM PASSWORD</label>
        <div *ngIf="submitted && form.get('confirm_password').errors" class="text-danger">
          <div *ngIf="form.get('confirm_password').errors.required">
            Confirm Password is required.
          </div>
          <div *ngIf="form.controls.confirm_password.invalid && !form.get('confirm_password').errors.required">
            Password and Confirm Password does not match.
          </div>
        </div>
        <input type="password" name="confirm_password" class="form-control" formControlName="confirm_password">
      </div>

    </div>
    <br>
    <input type="submit" id="btnSubmit" value="REGISTER" class="btn btn">
    <br>

  </form>
  <div style="margin-left: 32%;margin-top: 10px;">Already have an account? <span routerLink="/public/login">Login
      here</span></div>
</div>