<div class="main">
  <h4>My <span>BOOKINGS</span></h4>
</div>

<div class="container">
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/private/navbar/my-bookings/upcoming" routerLinkActive="active">UPCOMING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/private/navbar/my-bookings/past" routerLinkActive="active">PAST</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>