<div class="container">
  <h3>FAQs</h3>
  <div class="accordion main" id="accordionExample">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <div class="divDesign" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            What is Angular?
          </div>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google
          and by a community of individuals and corporations. Angular is a complete rewrite from the same team that
          built AngularJS. But let me tell you that Angular is completely different from AngularJS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <div class="collapsed divDesign" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            What Are the Benefits of Angular?
          </div>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Angular uses modern web platforms to deliver app-like experiences.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <div class="collapsed divDesign" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
            What Are the Features of Angular 4?
          </div>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Angular 4 supports the most recent versions of TypeScript, i.e. 2.1 and 2.2. This has enhanced the rate of ngc
          and enabled superior type checking.
        </div>
      </div>
    </div>
  </div>
</div>